<div class="row">
  <div class="col-md-6">
    <h1>Liste des emails</h1>
    <ul id="email-list">
      <% @emails.each do |email| %>
        <li><%= link_to email.object, email_path(email), remote: true %></li>
      <% end %>
    </ul>
    <%= link_to 'Recevoir un email', new_email_path, remote: true, class: 'btn btn-primary' %>
  </div>
  <div class="col-md-6" id="email-details">
    <h1>Email sélectionné</h1>
    <div id="email-content"></div>
    <button id="delete-email" class="btn btn-danger" disabled>Supprimer</button>
    <button id="mark-as-unread" class="btn btn-warning" disabled>Marquer comme non-lu</button>
  </div>
</div>
